.box {
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  box-shadow: 10px 10px 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  text-shadow: 3px 3px 3px white;
}
